h1 {
}

ul {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

li {
   text-align: center;
   border-bottom: solid 2px #a0a0a0;
   font-size: 1.5em;
   background-color: lightblue;
}

li > a:hover {
  text-decoration: none;
}

li > a:active {
  text-decoration: none;
}

section {
  height: 1000px;
  background-color: lightgrey;
  padding: 30px;
  overflow-y: auto;
  margin: 0px 0px 20px 0px;
}

section p {
  text-align: justify;
}


.menuitem > h2 {
  text-align: center;
}
.navbar {
  border-radius: 0px;
  background-color: lightgrey;
}

@media (min-width:376px max-width: 767px) {
  .container {
     width: 750px;
   }
}

@media (max-width: 375px) {
  .container {
     width: 300px;
   }
}
